* {
    font-family: Georgia, Times, serif;
    line-height: 25px;
  }
body{
    background-color: #efebe9;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-family: Arimo,Arial,sans-serif;
}
.parentCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    height: 1000px;
    border-radius: 1em;
    margin: 5px;
    text-align: justify;
    padding: 2em;
    background-color: white;
    border-radius: 1em;
}
.judul {
    padding: 2rem;
    background-color: #616161;
    border-radius: 15px;
    color: white;
    text-align: center;
  }
.parentCard .kartu {
    padding-left: 35px;
    margin: auto;
  }
.kartu .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #bbb;
    transition: 0.3s;
    width: 20%;
    height: auto;
    border-radius: 1em; 
    display: block;
    margin: 0px 5px 0px 5px;
    float: left;
}
  .detail-card {
    padding: 2px 16px;
  }
  
  .profile {
    margin: auto;
    padding: 1em 1em 1em 1em;
    width: 200px;
    border-radius: 25px 25px 25px 25px;
    display: block;
  }
    
  .card .container h4 b {
    font-family: "Courier New", Courier, monospace;
  }
  
  .detail-name {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  