body{
    padding: 100px;
    background-color: black;
}
.card-1{
    width: 625px;
    height: auto;
    background-color: white;
    border: 1px solid #eeeeee;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}
.profile-img{
    background-image: url(../assets/images/profile.png);
    background-color: #eaeaea;
    background-size: cover;
    width: 150px;
    height: 200px;
    margin: auto;
}
p{
    text-align: left;
}
.social-media{
    margin-left: -45px;
}
.social-media li{
    list-style: none;
    display: inline-block
}
.span1{
    font-size: 24px;
}
.span2{
    font-size: 20px;
}