<div
  class=""
  style="
    display: block;
    padding: 5%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  "
>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jackie Chan</mat-card-title>
      <mat-card-subtitle>Nama Aktor</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/img/actor/jackie_chan.jfif"
      alt="Jackie Chan"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        officiis aspernatur nesciunt unde, eius quae et voluptate? Autem esse,
        quia iste veritatis optio, est numquam repellendus deleniti molestiae,
        suscipit assumenda.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dusin Hoffman</mat-card-title>
      <mat-card-subtitle>Nama Aktor</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/img/actor/dustin_hoffman.jfif"
      alt="Dusin Hoffman"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        officiis aspernatur nesciunt unde, eius quae et voluptate? Autem esse,
        quia iste veritatis optio, est numquam repellendus deleniti molestiae,
        suscipit assumenda.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jack Black</mat-card-title>
      <mat-card-subtitle>Nama Aktor</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/img/actor/jack_black.jfif"
      alt="Jack Black"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        officiis aspernatur nesciunt unde, eius quae et voluptate? Autem esse,
        quia iste veritatis optio, est numquam repellendus deleniti molestiae,
        suscipit assumenda.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>James Hong</mat-card-title>
      <mat-card-subtitle>Nama Aktor</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/img/actor/james_hong.jfif"
      alt="James Hong"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        officiis aspernatur nesciunt unde, eius quae et voluptate? Autem esse,
        quia iste veritatis optio, est numquam repellendus deleniti molestiae,
        suscipit assumenda.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Lucy Liu</mat-card-title>
      <mat-card-subtitle>Nama Aktor</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/img/actor/lucy_liu.jfif"
      alt="Lucy Liu"
    />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
        officiis aspernatur nesciunt unde, eius quae et voluptate? Autem esse,
        quia iste veritatis optio, est numquam repellendus deleniti molestiae,
        suscipit assumenda.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br />
</div>
