<div class="flex-container">
  <div
    class="card"
    style="width: 150rem; margin: 2rem auto"
    *ngFor="let user of userlist; let i = index"
  >
    <mat-card>
      <div class="card-header">
        <h2 class="card-title">{{ user.Nama }}</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <button class="btn btn-warning" (click)="onDetail(i)">
              Detail
            </button>
            <button mat-button (click)="edit(user.Id)">Edit</button>
          </div>
          <div class="col">
            <mat-card-content *ngIf="detail[i]">
              <h4>Nama : {{ user.Nama }}</h4>
              <h4>Umur : {{ user.Umur }}</h4>
              <h4>Gender : {{ user.Gender }}</h4>
              <h4>Email : {{ user.Email }}</h4>
              <h4>Domisili : {{ user.Domisili }}</h4>
              <h4>Status Pernikahan : {{ user.StatusPernikahan }}</h4>
              <h4>Alamat : {{ user.Alamat }}</h4>
              <h4>Kode Pos : {{ user.KodePos }}</h4>
              <h4>Kota : {{ user.Kota }}</h4>
              <h4>Negara : {{ user.Negara }}</h4>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
