.panel {
  margin: 25px 10px 0px 10px;
  padding: 8px;
  justify-content: center;
  text-align: center;
  border: 1px solid;
}

.panel-heading {
  text-align: left;
}

p {
  text-align: center;
}

#perfect {
  font-weight: bold;
  color: white;
  background-color: green;
}

#good {
  color: green;
  background-color: yellow;
}

#broken {
  font-style: italic;
  text-decoration: underline;
  color: white;
  background-color: red;
}
