.card {
  width: 18rem;
  margin: 6px 10px 0px 10px;
  background-color: wheat;
  border-radius: 8px;
  padding: 10px;
}

.offline {
  color: red;
  font-weight: bold;
}

.online {
  color: blue;
  font-weight: bold;
}

p {
  display: inline;
}
